<div class="shopping_list">
  <h1>Shopping List</h1>
  <div class="shopping_header">
    <p>Amount of food items to buy: <%= @ingredients.length %></p>
    <p>Total value of food needed: $<%= @total_price %></p>
  </div>

  <table class="food_table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |food, ingredients| %>
        <tr>
          <td><%= food %></td>
          <td>
            <% if ingredients.length == 1 %>
              <span><%= ingredients.first.quantity %> <%= ingredients.first.food.measurement_unit %></span>
            <% else %>
              <% total_quantity = ingredients.map(&:quantity).sum %>
              <span><%= total_quantity %> <%= ingredients.first.food.measurement_unit %></span>
            <% end %>
          </td>
          <td>
            <% if ingredients.length == 1 %>
              $<%= ingredients.first.food.price * ingredients.first.quantity %>
            <% else %>
              <% total_price = ingredients.map { |ingredient| ingredient.quantity * ingredient.food.price }.sum %>
              $<%= total_price %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>